<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="BaseUrl" value="http://localhost/SeShell/"/>
	<add key="LoginPage" value="Default.aspx"/>
	<add key="AdminSiteUrl" value="Admin.aspx"/>
	<add key="DbConnectionString" value=""/>
	<add key="ResponseTimeInSeconds" value="25"/>
  <add key="MeanThreadSleepTime" value="9500"/>
  <add key="WebBrowsers" value="FireFox"/>
  <add key="WebBrowserDriversDir" value="\BrowserDrivers"/>
	<add key="ErrorImagePath" value="ScreenShots"/>
	<add key="TestDataDirectory" value="SeShellTest\TestData\Files"/>
  <add key="TestDataUploadDirectory" value="F:\SeShell\SeShellTest\TestData\UploadFiles"/>
	<add key="TestReslutDirectory" value="C:\SeShellResult"/>
	<add key="AutomationResultNamespace" value="TestAutomation"/>
	<add key="ClassesToExecute" value="LoginTest"/>
</appSettings>








































































































































































































































































































































































































































































































