<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="BaseUrl" value="http://localhost/SeShell/"/>
	<add key="LoginPage" value="Default.aspx"/>
	<add key="AdminSiteUrl" value="Admin.aspx"/>
	<add key="BrowserType" value="Chrome"/>
	<add key="PortNumber" value="8080"/>
	<add key="ErrorImagePath" value="F:\SeShell\ScreenShots"/>
	<add key="TestDataDirectory" value="F:\SeShell\SeShellTest\TestData\Files"/>
  <add key="TestDataUploadDirectory" value="F:\SeShell\SeShellTest\TestData\UploadFiles"/>
	<add key="ResponseTimeInSeconds" value="25"/>
	<add key="TestReslutDirectory" value="C:\SeShellResult"/>
</appSettings>








































































































































































































































































































































































































































































































